<div class="row">
    <div class="col-md-12 col-sm-12">  
        <div class="well c-soon">
            <p class="soon-med">Estas impaciente?, estaremos en línea</p>
                        <p class="soon-big">Proximamente<span class="color">!!!</span></p>

            <!-- Subscribe form -->
            <div class="soon-subscribe">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" value="" name="s" id="s" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-default">Suscribite</button>
                </form>
            </div>
        </div>
    </div>
</div>
