<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">

            <div class="widgets">
                <div class="col-md-4">
                    <div class="fwidget">

                        <div class="col-l">
                            <h6>Downlaods</h6>
                            <ul>
                                <li><a href="#">Condimentum</a></li>
                                <li><a href="#">Etiam at</a></li>
                                <li><a href="#">Fusce vel</a></li>
                                <li><a href="#">Vivamus</a></li>
                                <li><a href="#">Pellentesque</a></li>
                            </ul>
                        </div>

                        <div class="col-r">
                            <h6>Support</h6>
                            <ul>
                                <li><a href="#">Condimentum</a></li>
                                <li><a href="#">Etiam at</a></li>
                                <li><a href="#">Fusce vel</a></li>
                                <li><a href="#">Vivamus</a></li>
                                <li><a href="#">Pellentesque</a></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="fwidget">
                        <h6>Categories</h6>
                        <ul>
                            <li><a href="#">Condimentum - Condimentum gravida</a></li>
                            <li><a href="#">Etiam at - Condimentum gravida</a></li>
                            <li><a href="#">Fusce vel - Condimentum gravida</a></li>
                            <li><a href="#">Vivamus - Condimentum gravida</a></li>
                            <li><a href="#">Pellentesque - Condimentum gravida</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="fwidget">
                        <h6>Recent Posts</h6>
                        <ul>
                            <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
                            <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
                            <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
                            <li><a href="#">Vivamus scelerisque dui in massa</a></li>
                            <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"> 
            <div class="col-md-12">
                <div class="copy">
                    <h6>Metro <span class="color">Mania</span></h6>
                    <p>Copyright &copy; <a href="#">Your Site</a> - <a href="index.html">Home</a> | <a href="aboutus.html">About Us</a> | <a href="faq.html">FAQ</a> | <a href="contactus.html">Contact Us</a></p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</footer> 

